/***********************************************          POR DEFECTO          *******************************************************/

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

ol, ul {
    list-style-type: none;
}

h2 {
    color: #1e4635c0 ;
    border-bottom: solid 1px rgba(0, 0, 0, 0.884);
    margin: 20px;
    padding-left: 10px;
}

nav {
    background-color: #1C1C1C;
    /*height: 50px;    GRILLA   */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*position: sticky;  /*ojo con el position*/
    top: 0px;
    grid-area: nav;
}

.material {
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.inicio {
    margin-left: 20px;
    display: inline-block;
}

main {
    grid-area: main;
}

header {
    background-image: url('../assets/image/campus.png');
    background-repeat: no-repeat;
    grid-area: header;
    
}

footer {
    color: white;
    background-color: rgba(53, 52, 52, 0.925);
    height: 30px;    
    padding: 5px;
    grid-area: footer;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************************************          GRILLA INDEX.HTML          *******************************************************/

.articulos_pricipales {
    border: solid 2px #A49898;
    margin: 0px;
    background-repeat: no-repeat;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

section article div a h3 {
    height: 22px;
    background-color: hsla(0, 0%, 2%, 0.91);
    padding: 10px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.911);
}

.reseña {
    border-bottom: solid 2px rgb(0, 0, 0);
    margin: 20px;
    padding-left: 20px;
}

.descripcion {
    margin: 20px;
}

/***********************************************          CONTENIDO INDEX.HTML          *******************************************************/

#imagen_uno {
    background-image: url('../assets/image/imagen1.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: uno;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen_dos {
    background-image: url('../assets/image/imagen2.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: dos;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen_tres {
    background-image: url('../assets/image/imagen3.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: tres;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#imagen_cuatro {
    background-image: url('../assets/image/imagen4.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: cuatro;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen_cinco {
    background-image: url('../assets/image/imagen5.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: cinco;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen_seis {
    background-image: url('../assets/image/imagen6.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: seis;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen_siete {
    background-image: url('../assets/image/imagen7.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: siete;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen_ocho {
    background-image: url('../assets/image/imagen8.png');
    height: 200px;
    display: flex;
    flex-flow:wrap column;
    justify-content: end;
    grid-area: ocho;
    background-repeat: no-repeat;
    background-size: cover;
}

/***********************************************          AUDIOS          *******************************************************/

.audios_cuadrados {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "imagen texto"
    "ejemplo ejemplo"
    ;
    background-color: #30745b;
    border-radius: 50px;
}

.audios_cuadrados_imagen {
    grid-area: imagen;
    display: grid;
    justify-items: center;
    align-items: center;
}

.audios_cuadrados_texto {
    color: white;
    grid-area: texto;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.17em;
    font-weight: bold;
}

.audios_cuadrados_ejemplo {
    grid-area: ejemplo;
    display: grid;
    justify-items: end;
    align-items: center;
}

.audios_cuadrados_ejemplo_escuchar {
    width: 70%;
    margin-right: 30px;
}

/***********************************************          ADJUDICADOS          *******************************************************/

#grilla_adjudicados {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    /*grid-row-gap: 40px;
    margin: 30px 0px;*/
    justify-items: center;
    align-items: center;
    grid-row-gap: 70px;
    margin-top: 30px;
    grid-template-areas: 
    "jose"
    "sara"
    "hernan"
    "eze"
    "matias" 
    ;
}

.titulo_adjudicados {
    grid-area: jose;
    color: #ffffff ;
    background-color: #016f52;
    margin: 20px;
    padding: 20px 45% 20px 45% ;
}


#articulo_uno {
    grid-area: sara;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 10px;
}

#articulo_dos {
    grid-area: hernan;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 10px;
}

#articulo_tres {
    grid-area: eze;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 10px;
}

#articulo_cuatro {
    grid-area: matias;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 10px;
}

.articulo_uno_contenido {
    width: 30%;
    height: 100%;
}

.articulo_dos_contenido {
    width: 30%;
    height: 100%;
}

.articulo_tres_contenido {
    width: 30%;
    height: 100%;
}

.articulo_cuatro_contenido {
    width: 30%;
    height: 100%;
}


.articulos_adjudicados_texto {
    background-color: #30745b;
    height: 200px;

}

.articulos_adjudicados_titulo {
    background-color: #1C1C1C;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articulo_uno_video {
    margin-right: 100px;
}

.articulo_dos_video {
    margin-left: 200px;
}

.articulo_tres_video {
    margin-right: 100px;
}
.articulo_cuatro_video {
    margin-left: 200px;
}

/***********************************************          SPEACHS          *******************************************************/

#grilla_speach {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

#articulo_speachs {
    width: 95%;
    height: 100%;

}

.imagen_principal {
    width: 100%;
    height: 510px;
}

#contenedor_listas {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    justify-content: space-evenly;
    border: solid 2px rgb(0, 0, 0);
}

.lista_uno {
    width: 25%;
    height: 95%;
    margin-top: 10px;
}

.lista_dos {
    width: 24%;
    border-right: solid 1px rgba(0, 0, 0, 0.884);
    height: 95%;
    margin-top: 10px;
}

.lista_tres {
    width: 24%;
    border-right: solid 1px rgba(0, 0, 0, 0.884);
    height: 95%;
    margin-top: 10px;
}

.lista_cuatro {
    width: 24%;
    height: 95%;
    margin-top: 10px;
}

.listas_speach {
    color: rgb(34, 30, 30);
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.listas_titulo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.884);
    width: 70%;
    margin-left: 32px;
}











/***********************************************          MEDIA.QUERIS          *******************************************************/

@media screen and (min-width: 320px) {

    #grilla_uno {
        width: 100%;
        height: 100%;
        display: grid; 
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2.5fr auto 1fr;
        grid-template-areas: 
        "nav nav nav" 
        "header header header"
        "main main main"
        "footer footer footer";
    }
    
    #grilla_uno_section {
        display: grid;
        height: auto;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis"
        "siete"
        "ocho"
        ;
        grid-column-gap: 10px;
        justify-items: end;
    }
 
    .secundario {
        display: none;
    }

    .principal {
        width: 100%;
    }
    
    #grilla_audios {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-row-gap: 40px;
        margin: 30px 0px;
        justify-items: center;
        align-items: center;
    
    }

    .audios_cuadrados {
        width: 95%;
        height: 130px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "texto"
        "ejemplo"
        ;
        background-color: #30745b;
        border-radius: 50px;
    }

    .audios_cuadrados_imagen{
        display: none;
    }

    .audios_cuadrados_ejemplo_escuchar {
        width: 90%;
        margin: 0px;
    }

    .audios_cuadrados_ejemplo {
        grid-area: ejemplo;
        display: grid;
        justify-items: center;
        align-items: center;
        
    }

    .audios_cuadrados_texto {
        color: white;
        grid-area: texto;
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 1em;
        font-weight: bold;
    
    }
}

@media screen and (min-width: 1200px) {

    #grilla_uno {
        width: 100%;
        height: 100%;
        display: grid; 
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2.5fr auto 1fr;
        grid-template-areas: 
        "nav nav nav" 
        "header header header"
        "main main main"
        "footer footer footer";
    }
    
    #grilla_uno_section {
        display: grid;
        height: auto;
        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "uno dos tres cuatro"
        "cinco seis siete ocho"
        ;
        grid-column-gap: 10px;
        justify-items: end;
    }

    .principal {
        width: 75%;
        display: block;
    }
    
    .secundario {
        width: 25%;
        display: block;
    }

    #grilla_audios {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 40px;
        margin: 30px 0px;
        justify-items: center;
        align-items: center;
    
    }

    .audios_cuadrados {
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "imagen texto"
        "ejemplo ejemplo"
        ;
        background-color: #30745b;
        border-radius: 50px;
    }

    .audios_cuadrados_imagen {
        grid-area: imagen;
        display: grid;
        justify-items: center;
        align-items: center;
        display: block;
    }

    .audios_cuadrados_ejemplo_escuchar {
        width: 70%;
        margin-right: 30px;
    }

    .audios_cuadrados_ejemplo {
        grid-area: ejemplo;
        display: grid;
        justify-items: end;
        align-items: center;
    }

    .audios_cuadrados_texto {
        color: white;
        grid-area: texto;
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 1.17em;
        font-weight: bold;
    
    }
}












